
/********** Main **********/
body {
    background-image: url(../images/close-up-shot-of-marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #3c0a00;
    font-family: LXGW WenKai Mono TC;
}

h1 {
    text-decoration-line: underline;
    text-decoration-style: double;
}

h2 {
    text-decoration-line: underline;
}

h3 {
    text-decoration-line: underline;
}

p {
    font-size: 15px;
}

hr {
    border: 1.5px solid #3c0a00;
}

/********* Layout *********/
/* div {
    border: 1px solid black;
} */

* {
    box-sizing: border-box;
}

[class*="col"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


/********** Links **********/
a:link {
    color: cornflowerblue;
}
a:visited {
    color: darkslateblue;
}
a:hover {
    color:lightpink;
}
a:active {
    color:lightblue;
}


ul.links li {
    background-color: #3c0a00;
    border: 1px solid black;
    color: beige;
    text-align: center;
    list-style-type: none;
    
}

ul.links {
    margin-top: 0%;
    margin-left: -22%;
    
    width: 100%;
}



/********** Image and caption **********/
img {
    border-radius: 10px;
}

figure {
    color: black;
}

figcaption {
    font-size: 12px;
}


/********** Lists **********/
ul {
    text-transform: capitalize;
}

ol {
    border: 1px solid black;
}

li {
    list-style-type: circle;
}


/********** Forms **********/
form {
    font-weight: bold;
}
input {
    font-size: 14px;
}
fieldset {
    border: 1.5px solid;
}
legend {
    font-size: 15px;
}


/********** Color coding **********/

.ing1 {
    text-decoration: underline 	#ff9999 solid 2px;
}

.ing2 {
    text-decoration: underline 	#ffcc99 solid 2px;
}

.ing3 {
    text-decoration: underline 	#ffff66 solid 2px;
}

.ing4 {
    text-decoration: underline 	#b3ff66 solid 2px;
}

.ing5 {
    text-decoration: underline 	#66ff66 solid 2px;
}

.ing6 {
    text-decoration: underline 	#66ffb3 solid 2px;
}

.ing7 {
    text-decoration: underline 	#66ffff solid 2px;
}

.ing8 {
    text-decoration: underline 	#66b3ff solid 2px;
}

.ing9 {
    text-decoration: underline 	#6666ff solid 2px;
}

.ing10 {
    text-decoration: underline 	#b366ff solid 2px;
}

.ing11 {
    text-decoration: underline 	#ff66ff solid 2px;
}
